.logout-btn {
   display: flex;
   align-items: center;
   gap: 8px;
   opacity: 0.5;
   cursor: pointer;
}

.logout-btn input {
   background-color: transparent;
   padding: 0;
}

.logout-btn:hover {
   opacity: 0.3;
   transition: 0.2s;
}