.upload-card {
   outline: 3px solid rgb(218, 219, 222, 0.2);
   outline-offset: -10px;
   user-select: none;
   cursor: pointer;
}

.upload-title {
   display: flex;
   flex-direction: column;
   gap: 8px;
   text-align: center;
   padding: 32px;
}
