:root {
   --background-color: #f8f9fd;
   --card-background-color: #ffffff;
   --cta: #e3007a;
   --accent-color: #515ae7;
   --border-radius: 20px;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: var(--background-color);
   margin: 0;
}

* {
   box-sizing: border-box;
}
